.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    text-align: center;
    font-style: bold;
    font-size: 30px;
    margin: o auto;
    color: white;
    position: relative;
    background: radial-gradient(
        circle closest-side, 
        rgb(39, 70, 57),
        black );           
}

 
.input {
     color: white;
     font-size: 15px;
     background-color: rgb(53, 50, 50);
     width: 640px;
     height: 40px;
     border: 1px solid gray;
     border-radius: 20px;
     padding-left: 25px;
}